/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
    /* nền body->khung ngoài */
    padding: 0 50px 0 50px;
}
.section {
    width: 1200px;
    height: 660px;
    margin: 10px auto;
    background: white;
    padding: 50px;
    position: relative;
}
#vertical {
    width: 50px;
    height: 25px;
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 100px;
}
#vertical::before,
#vertical::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    background: #e1e1e1;
    visibility: visible;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}
#vertical::after {
    width: 18px;
    height: 18px;
    left: 1px;
    top: 0;
    background: white;
}
#vertical:checked::after {
    left: 20px;
}
#vertical:checked::before {
    background: #00d0ff;
}
#home, #html, #css, #code, #js, #home1, #html1, #css1, #code1, #js1 {
    display: none;
    /* ẩn các radio */
}
nav {
    /* width: 100%;
    height: 50px; */
    /* khoảng cách giữa các menu với thanh di động của menu */
    position: relative;
    text-align: center;
    align-items: center;
}
nav strong {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
nav strong label {
    text-align: center;
    align-items: center;
    display: block;
    padding: 10px 20px;
    margin: 0 30px 0 0;
    width: 120px;
    /* chiều rộng của các thanh điều hướng */
}
nav .underline {
    position:absolute;
    display: block;
    width: 114px;
    height: 5px;
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    transition: 0.3s;
    bottom: 0;
}
main {
    width: 100%;
    /* height: 600px; */
    position: relative;
}
main div {
    /* position: absolute; */
    top: 5px;
    left: 0;
    width: 100%;
    height: 99%;
    background: #f5f5f5;
    /* nền màu bên trong=>Cần chỉnh thì tại đây. */
    display: none;
    /* ẩn thông tin của các thẻ->thông tin sản phẩm */
}
fieldset {
    border: 3px solid;
    border-color: #e5e5e5 transparent transparent transparent;
    width: 60%;
    padding: 30px;
    line-height: 30px;
}
fieldset legend {
    font-weight: bold;
    font-size: 25px;
}
fieldset a {
    text-decoration: none;
    background: purple;
    color: white;
    padding: 10px 25px;
    border-radius: 40px 0;
    margin: 30px 20px;
    display: inline-block;
    margin-left: 550px;
    font-weight: bold;
}
main div figure {
    width: 40%;
    float: left;
}
figure img {
    width: 100px;
    /* kích thước ảnh */
}
figure figcaption {
    text-align: center;
    font-weight: bold;
}
label:first-child i.bx{color: white;}
label:nth-child(2) i.bx{color: yellow;}
label:nth-child(3) i.bx{color: yellow;}
label:nth-child(4) i.bx{color: yellow;}
label:nth-child(5) i.bx{color: yellow;}
label:nth-child(6) i.bx{color: yellow;}
label:nth-child(7) i.bx{color: #00a3c8;}
label:nth-child(8) i.bx{color: orange;}
label:nth-child(9) i.bx{color: orange;}
label:last-child i.bx{color: purple;}

#home:checked ~ nav strong label:first-child,
#html:checked ~ nav strong label:nth-child(2),
#css:checked ~ nav strong label:nth-child(3),
#code:checked ~ nav strong label:nth-child(4),
#js:checked ~ nav strong label:nth-child(5),
#home1:checked ~ nav strong label:nth-child(6),
#html1:checked ~ nav strong label:nth-child(7),
#css1:checked ~ nav strong label:nth-child(8),
#code1:checked ~ nav strong label:nth-child(9),
#js1:checked ~ nav strong label:last-child
{
    background-image: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
}
#home:checked ~ nav .underline{left: 0px}
#html:checked ~ nav .underline{left: 140px}
#css:checked ~ nav .underline{left: 285px}
#code:checked ~ nav .underline{left: 427px}
#js:checked ~ nav .underline{left: 569px}
#home1:checked ~ nav .underline{left: 711px}
#html1:checked ~ nav .underline{left: 853px}
#css1:checked ~ nav .underline{left: 993px}
#code1:checked ~ nav .underline{left: 1135px}
#js1:checked ~ nav .underline
{
    left: 1279px;
}
/* khoản cách các ô chạy ngang dọc phía dưới menu */
#home:checked ~ main div:first-child,
#html:checked ~ main div:nth-child(2),
#css:checked ~ main div:nth-child(3),
#code:checked ~ main div:nth-child(4),
#js:checked ~ main div:nth-child(5),
#home1:checked ~ main div:nth-child(6),
#html1:checked ~ main div:nth-child(7),
#css1:checked ~ main div:nth-child(8),
#code1:checked ~ main div:nth-child(9),
#js1:checked ~ main div:last-child
{
    display: flex;
    align-items: center;
    /* canh giữa các sản phẩm bên trong */
}
.bx {
    margin-right: 5px;
    /* khoảng cách giữa ICON ->Văn bản */
}
.container {
    margin: 30px 20px;
    height: 50px;
    width: 550px;
    border: 0px double #66a6ff;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    align-items: center;
    text-align: center;
}
.icontinhtrang {
    margin-right: 5px;
}
table tr, th, td {
    border: 1px dotted #fcb69f;
}
table td {
    padding: 10px;
}