* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: rgb(100, 170, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    position: relative;
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #ffff;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}
.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 10px;
    transform:translate(50%);
    
}
.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffff;
}
.search-bar input::placeholder {
    color: #ffff;
    background: transparent;
}
.search-bar button {
    width: 40px;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-bar button i {
        font-size: 22px;
    color: #ffff;
}
.sidebar a {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: #3f3ce4;
    padding: 6px 14px;
}
.sidebar .logo-menu {
    width: 100%;
    height: 70px;
    background: slateblue;
}
.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #ffff;
    pointer-events: none;
}
.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: salmon;
    font-size: 22px;
    color: #ffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.sidebar .list {
    margin: 10px;
}
.list .list-item {
    list-style: none;
    width: 15%;
    height: 50px;
    background: rgb(68, 112, 233);
    margin: 5px 0;
    line-height: 50px;
}
.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    border-radius: 6px;
    transition: .5s;
}
.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}

.list .list-item a i {
    min-width: 35px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}